.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/

#######################################
# Deps
#######################################

node_modules/
bower_components/

#######################################
# IDE
#######################################

*.iml